@font-face {
  font-family: "iconfont"; /* Project id 4489855 */
  src: url('iconfont.woff2?t=1713868244559') format('woff2'),
       url('iconfont.woff?t=1713868244559') format('woff'),
       url('iconfont.ttf?t=1713868244559') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e61e";
}

.icon-xuexiao:before {
  content: "\e632";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-mimayuechi:before {
  content: "\e641";
}

.icon-tongzhixiaoxi:before {
  content: "\e615";
}

.icon-yaoqingma:before {
  content: "\e658";
}

.icon-cuowu:before {
  content: "\e640";
}

.icon-cha:before {
  content: "\e61c";
}

.icon-youxiang:before {
  content: "\e69d";
}

.icon-yanjing1:before {
  content: "\e601";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-_qianganquanbaohu:before {
  content: "\e66e";
}

.icon-shouji:before {
  content: "\e60e";
}

.icon-suo:before {
  content: "\e672";
}

.icon-arrow-left:before {
  content: "\e624";
}

.icon-jiaoyijilu:before {
  content: "\e625";
}

.icon-hengxian23-copy:before {
  content: "\e600";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-gou:before {
  content: "\e619";
}

.icon-jiahao:before {
  content: "\eaf3";
}

