@font-face {
  font-family: "iconfont"; /* Project id 4489855 */
  src: url('iconfont.woff2?t=1712137601512') format('woff2'),
       url('iconfont.woff?t=1712137601512') format('woff'),
       url('iconfont.ttf?t=1712137601512') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaoyijilu:before {
  content: "\e625";
}

.icon-hengxian23-copy:before {
  content: "\e600";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-gou:before {
  content: "\e619";
}

.icon-jiahao:before {
  content: "\eaf3";
}

